
<main role="main" class="container-fluid main-dashboard">
  <section id="dashboard-jumbotron" class="container jumbotron">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header text-center"> Your Tests </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">History 202</a></li>
            <li class="list-group-item"><a href="#">Chemistry Final Exam</a></li>
            <li class="list-group-item"><a href="#">Sociology Pop Quiz</a></li>
          </ul>
			
		<!-- handlebar code 
			
			{{#each tests}}
			<li class="list-group-item"><input type="button" class="btn btn-link" value="{{test_name}}"></li>			
			{{/each}}
			
		-->
			
        </div>
		  
		    <div class="input-group mt-2">
      <input type="text" id="testCreate-input" class="form-control" placeholder="Type test name here.">
      <span class="input-group-btn">
        <button id="testCreate-btn" class="btn btn-secondary" type="button">Create new test</button>
      </span>
    </div>  
      </div>
      <!--column-->
      <div class="col-12 col-md-8"> 
		  
		  <form id="createQuestion" class="card" name="createQuestion" method="post" action="/signup">
			  <legend>Create a question</legend>
			  
			  <fieldset>
				<div class="input-group input-group"> <span class="input-group-addon" id="stem-label">question stem</span>
              		<input type="text" name="question_phrase" class="form-control" placeholder="Type question stem here." aria-describedby="stem-label">
            	</div>
				  
				<div class="input-group input-group mt-2"> <span class="input-group-addon" id="answer-label">correct answer</span>
				  <input type="text" name="answer" data-value="true" class="form-control" placeholder="Type answer here." aria-describedby="answer-label">
				</div>
				  
				<div class="input-group input-group mt-2"> <span class="input-group-addon" id="distractor-a-label">distractor</span>
				  <input type="text" name="answer" data-value="false" class="form-control" placeholder="Type distractor here." aria-describedby="distractor-a-label">
				</div>
				  
				<div class="input-group input-group mt-2"> <span class="input-group-addon" id="distractor-b-label">distractor</span>
				  <input type="text" name="answer" data-value="false" class="form-control" placeholder="Type distractor here." aria-describedby="distractor-b-label">
				</div>
				  
				<div class="input-group input-group mt-2 mb-2"> <span class="input-group-addon" id="distractor-c-label">distractor</span>
				  <input type="text" name="answer" data-value="false" class="form-control" placeholder="Type distractor here." aria-describedby="distractor-c-label">
				</div>	
				  
            <button class="btn btn-secondary" type="reset">reset</button>
            <button class="btn btn-secondary" type="button" id="questionCreate-btn">add question</button>				  
			  
			  </fieldset>
		  
		  
		  </form>
		  
		  
		</div>
      <!--column--> 
    </div>
    <!--row--> 
	  
	  <div class="row mt-5">
	  	<div id="questionDisplay" class="col-md-8 offset-md-2">
			<h2 class="text-center mb-2 mt-3">Questions</h2>
			
			<ol id="questionList">
				<li class="question_phrase">What team won the World Series in 1971? <button class="btn btn-link btn-small">delete</button></li>
				<input type="radio" id="q1-1" name="q1" value="answer">
				<label for="q1-1">Pittsburgh Pirates</label>
				
				<input type="radio" id="q1-2" name="q1" value="answer">
				<label for="q1-2">Balimore Orioles</label>
				
				<input type="radio" id="q1-3" name="q1" value="answer">
				<label for="q1-3">Atlanta Braves</label>
				
				<input type="radio" id="q1-4" name="q1" value="answer">
				<label for="q1-4">Oakland Athletics</label>				
				
				<li class="question_phrase">What team won the World Series in 2012?  <button class="btn btn-link btn-small">delete</button></li>
				<input type="radio" id="q2-1" name="q2" value="answer">
				<label for="q2-1">San Franciso Giants</label>
				
				<input type="radio" id="q2-2" name="q2" value="answer">
				<label for="q2-2">Detroit Tigers</label>
				
				<input type="radio" id="q2-3" name="q2" value="answer">
				<label for="q2-3">St. Louis Cardinals</label>
				
				<input type="radio" id="q2-4" name="q2" value="answer">
				<label for="q2-4">Texas Rangers</label>	
				
			</ol>
				

		<!-- handlebars code	
			
		<h2 class="text-center mb-2">{{testObj.test_name}}</h2>
			  <ol id="questionList">
				{{#each testObj }}
				<li class="question_phrase">{{question_phrase}}<button class="btn btn-link btn-small">delete</button></li>
				{{#each answers}}
				<input type="radio" id="{{@index}}+{{@../index}}" name="question{{@../index}}" value="answer">
				<label for="{{@index}}+{{@../index}}">{{phrase}}</label>
				{{/each}} 
				{{/each}}
			  </ol>
			
-->
			
		</div>
	  </div>
    
  </section>
</main>

