  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header"> Find Test for <span id="currentUser"></span></div>
        <div class="card-body">      
         
          <div class="input-group">
            <input type="text" id="testGet-input" class="form-control" placeholder="Type test code here (provided by your instructor).">
            <span class="input-group-btn">
            <button id="testGet-btn" class="btn btn-secondary" type="button">get test</button>
            </span> </div>
        </div>
      </div>
      <!--card--> 
      
    </div>
    <!--column--> 
    
  </div>
  <!--row-->
  
  <div id="testDisplay" class="row" aria-hidden="true">
    <div class="col-6">
      <h2>{{testObj.test_name}}</h2>
      <ol>
        {{#each testObj }}
        <li>{{question_phrase}}</li>
        {{#each answers}}
        <input type="radio" id="{{@index}}+{{@../index}}" name="question{{@../index}}" value="answer">
        <label for="{{@index}}+{{@../index}}">{{phrase}}</label>
        {{/each}} 
        {{/each}}
      </ol>
    </div>
    <!--column--> 
  </div>
  <!--row--> 
  

