
<div>
	<h1>{{testObj.test_name}}</h1>

	<ul>
	{{#each testObj }}
	  <li>{{question_phrase}}</li>
	  	{{#each answers}}
		  <input type="radio" id="{{@index}}+{{@../index}}"
     name="question{{@../index}}" value="answer">
    <label for="{{@index}}+{{@../index}}">{{phrase}}</label>
		{{/each}}
	{{/each}}
	</ul>

</div>